In [1]:
import os
from pathlib import Path

In [2]:
import opencdms

In [1]:
from opencdms import Climsoft4, MCH, MidasOpen

In [4]:
from opencdms import MidasOpen

In [5]:
connection = os.path.join(
    Path.home(), 'opencdms-dev', 'git', 'opencdms-test-data')

In [6]:
connection

'/home/ubuntu/opencdms-dev/git/opencdms-test-data'

In [7]:
session = MidasOpen(connection)

In [8]:
session

In [9]:
filters = {
    'src_id': 838,
    'period': 'hourly',
    'year': 1991,
    'elements': ['wind_speed', 'wind_direction'],
}

In [10]:
filters

{'src_id': 838,
 'period': 'hourly',
 'year': 1991,
 'elements': ['wind_speed', 'wind_direction']}

In [11]:
# obs = session.obs(src_id=838, period='hourly', year=1991, element=['wind_speed', 'wind_direction'])

In [12]:
obs = session.obs(**filters)

In [13]:
obs

                   ob_time  src_id  wind_direction  wind_speed
0      1991-01-01 00:00:00     838           230.0         3.0
1      1991-01-01 01:00:00     838           230.0         3.0
2      1991-01-01 02:00:00     838           210.0         4.0
3      1991-01-01 03:00:00     838           200.0         2.0
4      1991-01-01 04:00:00     838           220.0         1.0
...                    ...     ...             ...         ...
16212  1991-12-31 19:00:00     838           190.0         1.0
16213  1991-12-31 20:00:00     838           220.0         2.0
16214  1991-12-31 21:00:00     838           210.0         3.0
16215  1991-12-31 22:00:00     838           200.0         4.0
16216  1991-12-31 23:00:00     838           220.0         5.0

[16217 rows x 4 columns]

In [14]:
type(obs)

pandas.core.frame.DataFrame

In [3]:
from opencdms.process.climatol import windrose

In [4]:
windrose(obs)

NameError: name 'obs' is not defined